[user]
	email = claudiusbr@users.noreply.github.com
	name = claudiusbr

[color]
    ui = true

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[core]
	editor = vim
